<li>
    <div class="user-info">
        <div class="user-name">
            {{username}}
        </div>
    </div>
</li>
<li>
    <a href="#"><span class="icon mdi mdi-face"></span> Account</a>
</li>
<li>
    <a href="#"><span class="icon mdi mdi-settings"></span> Settings</a>
</li>
<li>
    <a href="#"><span class="icon mdi mdi-power"></span> Logout</a>
</li>
