
<div class="page-head">
    <h2 class="page-head-title">Penyewaan</h2>
    <ol class="breadcrumb page-head-nav">
        <li>
            <a href="#" class="page-link">Home</a>
        </li>
        <li class="active">Penyewaan</li>
    </ol>
</div>
<div class="main-content container-fluid" data-title="Penyewaan" data-page="list-cars-pricing">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-table panel-border-color panel-border-color-success">
                <div class="panel-heading"><span>Daftar Penyewaan</span>
                    <div class="tools">
                        <a href="rent/add.html" class="btn btn-rounded btn-space btn-primary page-link">
                            <i class="icon icon-left mdi mdi-plus-circle-o"></i> Penyewaan Baru
                        </a>
                        <button class="btn btn-rounded btn-space btn-default">
                            <i class="icon icon-left mdi mdi-print"></i> Cetak
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="rent-table" class="table table-striped table-hover table-fw-widget">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nomor</th>
                                <th>Nama</th>
                                <th>Telepon</th>
                                <th>Alamat</th>
<!--                                <th>Mobil</th>-->
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    ListOrdersPage();
//    driverListPage();
</script>
<div id="mod-driver-add" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
                <h3 class="modal-title">Tambah Sopir</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group has-feedback">
                        <label class="control-label">Nama</label>
                        <input type="text" name="name" placeholder="Surabaya" class="form-control" data-required-error="Mohon diisi lengkap" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">Telepon</label>
                        <input type="text" name="tel" placeholder="Surabaya" class="form-control" data-required-error="Mohon diisi lengkap" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">Alamat</label>
                        <input type="text" name="address" placeholder="Surabaya" class="form-control" data-required-error="Mohon diisi lengkap" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">SIM</label>
                        <input type="text" name="license" placeholder="Surabaya" class="form-control" data-required-error="Mohon diisi lengkap" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Batal</button>
                <button type="button" class="btn btn-primary btn-confirm-add">Simpan</button>
            </div>
        </div>
    </div>
</div>
<div id="mod-driver-edit" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
                <h3 class="modal-title">Rubah Data Sopir</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group has-feedback">
                        <label class="control-label">Nama</label>
                        <input type="text" name="name" placeholder="Surabaya" class="form-control" data-required-error="Mohon diisi lengkap" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">Telepon</label>
                        <input type="text" name="tel" placeholder="Surabaya" class="form-control" data-required-error="Mohon diisi lengkap" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">Alamat</label>
                        <input type="text" name="address" placeholder="Surabaya" class="form-control" data-required-error="Mohon diisi lengkap" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">SIM</label>
                        <input type="text" name="license" placeholder="Surabaya" class="form-control" data-required-error="Mohon diisi lengkap" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Batal</button>
                <button type="button" class="btn btn-primary btn-confirm-add">Simpan</button>
            </div>
        </div>
    </div>
</div>
<div id="mod-driver-delete" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger"><span class="modal-main-icon mdi mdi-close-circle-o"></span></div>
                    <h3>Hapus Sopir</h3>
                    <p>Apakah anda yakin akan menghapus Sopir <br><b class="mod-car-pricing-delete-detail">ini</b></p>
                    <div class="xs-mt-50">
                        <button type="button" data-dismiss="modal" class="btn btn-space btn-default">Batal</button>
                        <button type="button" class="btn btn-space btn-danger btn-confirm-delete">Hapus</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
